brainflow>=3.8.1
mne>=0.22.0
mne-features
numpy>=1.18.0
pandas>=1.0.1
psychopy>=2020.2.10
pyWinhook>=1.6.0
pynput>=1.7.3
scikit-learn>=0.21.3
pyserial>=3.5
-e .

matplotlib>=3.1.1
pyxdf>=1.16.3

pyqt5>=5.15.4
bci4als>=0.1.2
sklearn>=0.0
importlib_metadata>=0.23
pytest>=5.2.1
setuptools>=41.4.0
opencv-python>=4.4.0.46
keras>=2.4.3
pylsl>=1.14.0
playsound
