pyyaml>=5.1.2
keras>=2.4.3
scipy
matplotlib>=3.1.1
pyxdf>=1.16.3
numpy>=1.18.0
mne>=0.22.0
pandas>=1.0.1
sklearn>=0.0
scikit-learn>=0.21.3
pylsl>=1.14.0
future>=0.17.1
psychopy>=2020.2.10
coloredlogs
h5py
datetime
seaborn
tox
black
-e .

yaml>=0.1.7
opencv-python>=4.4.0.46
brainflow>=3.8.1
importlib_metadata>=0.23
pytest>=5.2.1


click>=7.1.2
